<div class="btn-group" dropdown>
  <button dropdownToggle class="btn btn-primary dropdown-toggle" type="button" id="dropdownTeamTypeMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" [(ngModel)]="selectedTeamType" ngDefaultControl>
  {{selectedTeamType}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngFor="let tt of teamTypeList"><a class="dropdown-item" (click)="onTeamTypeChange($event, tt)">{{tt}}</a></li>
  </ul>
</div>

<div class="btn-group" dropdown>
  <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPlayerTypeMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" [(ngModel)]="selectedTeamType" ngDefaultControl>
  {{selectedPlayerType}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngFor="let pt of teamPlayerTypeList.Player_Types"><a class="dropdown-item">{{pt.Position_Name}}</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" *ngFor="let spt of teamPlayerTypeList.Special_Players"><a class="dropdown-item">{{spt.Type_Name}}</a></li>
  </ul>
</div>

<!--Table-->
<table class="table">
    
        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->