<div class="btn-group" dropdown>
    <button dropdownToggle class="btn btn-primary dropdown-toggle" type="button" id="dropdownTeamTypeMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [(ngModel)]="selectedTeamType" ngDefaultControl>
  {{selectedTeamType}} <span class="caret"></span>
  </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let tt of teamTypeList"><a class="dropdown-item" (click)="onTeamTypeChange($event, tt)">{{tt}}</a></li>
    </ul>
</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Value</th>
        <th>MA</th>
        <th>ST</th>
        <th>AG</th>
        <th>AV</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody *ngIf="teamServiceTypeList">
      <tr *ngFor="let p of teamServiceTypeList.Player_Types">
        <th scope="row"></th>
        <td>Test Name</td>
        <td>{{p.Position_Name}}</td>
        <td>{{p.Value}}</td>
        <td>{{p.Movement}}</td>
        <td>{{p.Strength}}</td>
        <td>{{p.Agility}}</td>
        <td>{{p.Armor}}</td>
        <td><span *ngFor="let s of p.Skill_List let isLast=last">{{s}}{{isLast ? '' : ', '}}</span></td>
      </tr>
      <tr *ngFor="let sp of teamServiceTypeList.Special_Players">
        <th scope="row"></th>
        <td>Test Name</td>
        <td>{{sp.Type_Name}}</td>
        <td>{{sp.Value}}</td>
        <td>{{sp.Movement}}</td>
        <td>{{sp.Strength}}</td>
        <td>{{sp.Agility}}</td>
        <td>{{sp.Armor}}</td>
        <td><span *ngFor="let s of sp.Skill_List let isLast=last">{{s}}{{isLast ? '' : ', '}}</span></td>
      </tr>
      <tr>
          <td colspan="9">
            <div class="btn-group" dropdown>
                <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPlayerTypeMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" [(ngModel)]="selectedTeamType" ngDefaultControl>Add Player <span class="caret"></span>
              </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let pt of teamServiceTypeList.Player_Types" (click)=showConfirm(pt)><a class="dropdown-item">{{pt.Position_Name}}</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" *ngFor="let spt of teamServiceTypeList.Special_Players" (click)=showConfirm(spt)><a class="dropdown-item">{{spt.Type_Name}}</a></li>
                </ul>
            </div>
          </td>
      </tr>
    </tbody>
  </table>